# 2025 NPS

## Set up

### Import packages

In [192]:
import pandas as pd
import numpy as np

### Upload files
* National Pain Survey 2025 responses
* [Australian Postcodes](https://www.matthewproctor.com/australian_postcodes)

In [360]:
# Read the survey responses. 
df = pd.read_csv('ChronicPainAustralia_DATA_2025-06-03_1138.csv')
df.head()

,record_id,cpa_nps_2025_timestamp,respondent_type,age,gender,gender_txt,state,postcode,income_weekly,first_nations,...,scm_fb,scm_inst,scm_tiktok,scm_tw,scm_yt,scm_pin,scm_reddit,scm_li,consent_marketing,cpa_nps_2025_complete
0,1,[not completed],connection,18-24,male,NaN,NSW,2137.0,ns,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2,2025-05-05 14:38:00,peer,35-44,female,NaN,TAS,NaN,3000-3999,ns,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2
2,3,2025-05-05 16:50:24,peer,55-64,male,NaN,NSW,2540.0,2000-2499,ns,...,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,0.0,2
3,4,[not completed],peer,65-74,female,NaN,NSW,2067.0,0500-999,no,...,0.0,0.0,NaN,NaN,3.0,0.0,0.0,0.0,NaN,0
4,5,2025-05-05 16:53:47,peer,55-64,female,NaN,NSW,2113.0,0500-999,no,...,4.0,0.0,0.0,NaN,2.0,0.0,1.0,1.0,1.0,2

In [361]:
print(df.shape)

(4651, 259)

In [362]:
postcode_lu = pd.read_csv('australian_postcodes.csv')
postcode_lu

,id,postcode,locality,state,long,lat,dc,type,status,sa3,...,altitude,chargezone,phn_code,phn_name,lgaregion,lgacode,electorate,electoraterating,sed_code,sed_name
0,230,200,ANU,ACT,149.119000,-35.277700,NaN,NaN,Updated 3-Dec-2022,NaN,...,NaN,N2,NaN,NaN,Unincorporated ACT,89399.0,Durack,NaN,NaN,NaN
1,21820,200,Australian National University,ACT,149.118900,-35.277700,NaN,NaN,Updated 3-Dec-2022,NaN,...,NaN,N2,NaN,NaN,Unincorporated ACT,89399.0,Durack,NaN,NaN,NaN
2,232,800,DARWIN,NT,130.836680,-12.458684,NaN,NaN,Updated 3-Dec-2022,70101.0,...,NaN,NT1,PHN701,Northern Territory,Darwin Waterfront Precinct,71150.0,Solomon,Inner Metropolitan,70022.0,Port Darwin
3,24049,800,DARWIN CITY,NT,130.836680,-12.458684,NaN,NaN,Updated 3-Dec-2022,70101.0,...,NaN,NT1,PHN701,Northern Territory,Darwin Waterfront Precinct,71150.0,Solomon,Inner Metropolitan,70022.0,Port Darwin
4,233,801,DARWIN,NT,130.836680,-12.458684,NaN,NaN,Updated 3-Dec-2022,70101.0,...,NaN,NT1,PHN701,NaN,Darwin,71000.0,Lingiari,Rural,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18521,11186,9013,BRISBANE,QLD,152.823141,-27.603479,CITY DC - BRISBANE,LVR,Updated 25-Mar-2020 SA3,30504.0,...,44.349792,Q1,PHN301,NaN,Brisbane,31000.0,Griffith,NaN,NaN,NaN
18522,11187,9015,BRISBANE,QLD,152.823141,-27.603479,CITY DC - BRISBANE,LVR,Updated 25-Mar-2020 SA3,30504.0,...,44.349792,Q1,PHN301,NaN,Brisbane,31000.0,Griffith,NaN,NaN,NaN
18523,11196,9464,NORTHGATE MC,QLD,153.074982,-27.397055,NaN,NaN,Updated 25-Mar-2020 SA3,30203.0,...,NaN,Q1,PHN301,NaN,Brisbane,31000.0,Griffith,NaN,NaN,NaN
18524,11197,9726,GOLD COAST MC,QLD,153.412197,-28.008783,NaN,NaN,Updated 25-Mar-2020 SA3,30910.0,...,NaN,Q1,PHN303,NaN,Gold Coast,33430.0,McPherson,NaN,NaN,NaN
18525,23878,9999,NORTH POLE,VIC,144.956776,-37.817403,CITY DELIVERY CENTRE,Delivery Area,Added 1-July-2021,20604.0,...,15.244751,NaN,NaN,NaN,Melbourne,24600.0,Macnamara,NaN,NaN,NaN

### Label fields
* Completion Rate
    * Partial completion is when Respondent Type, Age and Gender OR Postcode is not null.

In [363]:
# LABEL Completion Rates. 
df['completion_rate'] = np.nan
df.loc[df['cpa_nps_2025_timestamp'] != '[not completed]', 'completion_rate'] = 'Completed'
df.loc[(df['completion_rate'].isna() & df['respondent_type'].notna() & df['age'].notna() & df['gender'].notna()), 'completion_rate'] = 'Partial completion'
df.loc[(df['completion_rate'].isna() & df['respondent_type'].notna() & df['age'].notna() & df['postcode'].notna()), 'completion_rate'] = 'Partial completion'
df.loc[(df['completion_rate'].isna()), 'completion_rate'] = 'Incomplete'

In [364]:
df['completion_rate'].value_counts()

Completed             3276
Partial completion     757
Incomplete             618
Name: completion_rate, dtype: int64

Drop incomplete responses

In [365]:
# Drop incomplete responses.
df = df.loc[df['completion_rate'] != 'Incomplete']
df.shape

(4033, 260)

In [366]:
# Corrected State = WA.
df.loc[df['state'] == '8', 'state'] = 'WA'
df['state'].unique()

array(['NSW', 'TAS', 'SA', 'QLD', 'VIC', 'ACT', 'WA', 'NT', nan],
      dtype=object)

### Postcode Lookup

In [367]:
# Filter postcode lookup to relevant columns and remove duplicate postcode and state.
postcode_lu = postcode_lu[['postcode', 'state', 'region', 'electoraterating', 'long', 'lat',   'lgaregion', 'electorate']]
postcode_lu = postcode_lu.drop_duplicates(subset=['postcode','state'], keep='last')
postcode_lu.shape

(3192, 8)

In [368]:
# Append Postcode Lookup.
print('df shape before:', df.shape)
df['postcode'] = df['postcode'].astype('Int64')     # Change postcode dtype.
df.loc[df['postcode'].isna(), 'postcode'] = 0       # Remove NaN values in postcode and replace with 0.
df = pd.merge(df, postcode_lu, on=['postcode', 'state'], how='left')    # Left join lookup postcodes to DF. 
print('df shape after:', df.shape)

df shape before: (4033, 260)
df shape after: (4033, 266)

In [357]:
df.head()

,record_id,cpa_nps_2025_timestamp,respondent_type,age,gender,gender_txt,state,postcode,income_weekly,first_nations,...,scm_li,consent_marketing,cpa_nps_2025_complete,completion_rate,region,electoraterating,long,lat,lgaregion,electorate
0,1,[not completed],connection,18-24,male,NaN,NSW,2137,ns,no,...,NaN,NaN,0,Partial completion,R1,Inner Metropolitan,151.103751,-33.857490,Canada Bay,Reid
1,2,2025-05-05 14:38:00,peer,35-44,female,NaN,TAS,0,3000-3999,ns,...,2.0,1.0,2,Completed,NaN,NaN,NaN,NaN,NaN,NaN
2,3,2025-05-05 16:50:24,peer,55-64,male,NaN,NSW,2540,2000-2499,ns,...,NaN,0.0,2,Completed,R3,Rural,150.616440,-34.863483,Unincorp. Other Territories,Gilmore
3,4,[not completed],peer,65-74,female,NaN,NSW,2067,0500-999,no,...,0.0,NaN,0,Partial completion,R1,Inner Metropolitan,151.177110,-33.798378,Ryde,Bradfield
4,5,2025-05-05 16:53:47,peer,55-64,female,NaN,NSW,2113,0500-999,no,...,1.0,1.0,2,Completed,R1,Inner Metropolitan,151.130233,-33.794190,Ryde,Bennelong

In [324]:
df.sample(5)

,record_id,cpa_nps_2025_timestamp,respondent_type,age,gender,gender_txt,state_x,postcode,income_weekly,first_nations,...,consent_marketing,cpa_nps_2025_complete,completion_rate,state_y,region,electoraterating,long,lat,lgaregion,electorate
3363,3861,2025-05-31 07:08:48,peer,45-54,female,NaN,NSW,2287,1000-1499,yes,...,0.0,2,Completed,NSW,R2,Provincial,151.658070,-32.892577,Lake Macquarie,Newcastle
3902,4469,[not completed],both,45-54,female,NaN,SA,0,0001-499,no,...,NaN,0,Partial completion,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3041,3490,2025-05-29 22:06:49,peer,45-54,NaN,NaN,VIC,0,0001-499,NaN,...,1.0,2,Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,50,2025-05-05 16:17:56,both,75-84,female,NaN,NT,0,2000-2499,no,...,1.0,2,Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2140,2455,[not completed],peer,55-64,female,NaN,QLD,4209,0000,no,...,NaN,0,Partial completion,QLD,R2,Outer Metropolitan,153.392892,-27.805498,Gold Coast,Forde

In [298]:
df.loc[df['postcode'] == 0]

Empty DataFrame
Columns: [record_id, cpa_nps_2025_timestamp, respondent_type, age, gender, gender_txt, state_x, postcode, income_weekly, first_nations, lgbtq, multi_cultural, dx___autism, dx___adhd, dx___dyscalculia, dx___dyslexia, dx___dyspraxia, dx___epilepsy, dx___apd, dx___id, dx___ts, dx___na, dx___ns, dx___nl, dx_txt, pn_type___back, pn_type___neck, pn_type___joint, pn_type___migraines, pn_type___widespread, pn_type___osteoarthritis, pn_type___rheumatoid_arthritis, pn_type___pelvic, pn_type___abdominal, pn_type___crps, pn_type___nerve, pn_type___connective_tissue_disorder, pn_type___na, pn_type___nl, pn_type_txt, pn_impact, hc_dx_length, work, life_xp___mental_health, life_xp___ptsd, life_xp___dims, life_xp___unable_work, life_xp___low_productivity, life_xp___strain_financial, life_xp___strain_family, life_xp___strain_friends, life_xp___unable_family, life_xp___less_intimacy, life_xp___inactivity, life_xp___changed_eating, life_xp___less_independence, life_xp___unable_drive, life_xp___na, life_xp___nl, life_xp_txt, hc_sleep_tests, hc_sleep_strategies___reg_schedule, hc_sleep_strategies___less_caffeine_alcohol, hc_sleep_strategies___comfort, hc_sleep_strategies___relaxation, hc_sleep_strategies___less_screen, hc_sleep_strategies___medication, hc_sleep_strategies___bed_mattress, hc_sleep_strategies___na, hc_sleep_strategies___nl, hc_sleep_strategies_txt, hc_xp___sexism, hc_xp___prejudice, hc_xp___dismissed, hc_xp___powerless, hc_xp___dehumanised, hc_xp___violated, hc_xp___weight_stgm, hc_xp___drug_stgm, hc_xp___na, hc_xp___nl, hc_xp_txt, edu_src_gp, edu_src_hc_oth, edu_src_friends, edu_src_family, edu_src_internet, edu_src_online_forums, edu_src_phone_support, edu_src_social_media, edu_src_charities, edu_src_txt, life_xp_stigma___gp, life_xp_stigma___other_hc, life_xp_stigma___employer, life_xp_stigma___colleagues, life_xp_stigma___partner, life_xp_stigma___descendants, life_xp_stigma___family_other, life_xp_stigma___friends, ...]
Index: []

[0 rows x 267 columns]

In [276]:
df_postcode = df.loc[df['postcode'].notna()]
df_postcode.shape

(3036, 260)

In [275]:
df_no_postcode = df.loc[df['postcode'].isna()]
df_no_postcode.shape

(997, 260)

In [273]:
df_postcode.merge(postcode_lu, left_on='postcode', right_on='postcode')
# df.columns

,record_id,cpa_nps_2025_timestamp,respondent_type,age,gender,gender_txt,state_x,postcode,income_weekly,first_nations,...,consent_marketing,cpa_nps_2025_complete,completion_rate,state_y,region,electoraterating,long,lat,lgaregion,electorate
0,1,[not completed],connection,18-24,male,NaN,NSW,2137,ns,no,...,NaN,0,Partial completion,NSW,R1,Inner Metropolitan,151.103751,-33.857490,Canada Bay,Reid
1,2472,2025-05-21 06:01:08,peer,75-84,female,NaN,NSW,2137,ns,no,...,1.0,2,Completed,NSW,R1,Inner Metropolitan,151.103751,-33.857490,Canada Bay,Reid
2,3,2025-05-05 16:50:24,peer,55-64,male,NaN,NSW,2540,2000-2499,ns,...,0.0,2,Completed,ACT,R3,Rural,150.707521,-35.129878,Unincorp. Other Territories,Gilmore
3,3,2025-05-05 16:50:24,peer,55-64,male,NaN,NSW,2540,2000-2499,ns,...,0.0,2,Completed,NSW,R3,Rural,150.616440,-34.863483,Unincorp. Other Territories,Gilmore
4,367,2025-05-06 10:16:20,both,35-44,female,NaN,NSW,2540,4000-4999,no,...,1.0,2,Completed,ACT,R3,Rural,150.707521,-35.129878,Unincorp. Other Territories,Gilmore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3045,4586,2025-06-03 09:40:59,peer,65-74,male,NaN,VIC,3461,0000,no,...,0.0,2,Completed,VIC,R3,Provincial,144.170995,-37.287848,Macedon Ranges,Bendigo
3046,4597,2025-06-03 10:05:38,peer,65-74,female,NaN,VIC,3103,1500-1999,no,...,1.0,2,Completed,VIC,R1,Inner Metropolitan,145.062000,-37.800700,Boroondara,Kooyong
3047,4602,2025-06-03 09:55:19,peer,35-44,female,NaN,QLD,4313,ns,no,...,1.0,2,Completed,QLD,R3,Provincial,152.321536,-27.089517,Somerset,Blair
3048,4620,2025-06-03 10:27:19,peer,45-54,female,NaN,QLD,4501,0000,no,...,0.0,2,Completed,QLD,R2,Outer Metropolitan,152.946201,-27.277628,Moreton Bay,Dickson
3049,4644,[not completed],peer,45-54,male,NaN,NSW,2221,1500-1999,no,...,NaN,0,Partial completion,NSW,R1,Inner Metropolitan,151.105990,-33.992159,Georges River,Cook

In [202]:
df

,record_id,cpa_nps_2025_timestamp,respondent_type,age,gender,gender_txt,state,postcode,income_weekly,first_nations,...,scm_inst,scm_tiktok,scm_tw,scm_yt,scm_pin,scm_reddit,scm_li,consent_marketing,cpa_nps_2025_complete,completion_rate
0,1,[not completed],connection,18-24,male,NaN,NSW,2137,ns,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,Partial completion
1,2,2025-05-05 14:38:00,peer,35-44,female,NaN,TAS,<NA>,3000-3999,ns,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2,Completed
2,3,2025-05-05 16:50:24,peer,55-64,male,NaN,NSW,2540,2000-2499,ns,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,0.0,2,Completed
3,4,[not completed],peer,65-74,female,NaN,NSW,2067,0500-999,no,...,0.0,NaN,NaN,3.0,0.0,0.0,0.0,NaN,0,Partial completion
4,5,2025-05-05 16:53:47,peer,55-64,female,NaN,NSW,2113,0500-999,no,...,0.0,0.0,NaN,2.0,0.0,1.0,1.0,1.0,2,Completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4644,4645,[not completed],peer,75-84,female,NaN,TAS,7277,2500-2999,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,Partial completion
4645,4646,[not completed],peer,55-64,female,NaN,VIC,3551,1500-1999,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,Partial completion
4646,4647,[not completed],peer,55-64,female,NaN,QLD,4670,0001-499,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,Partial completion
4647,4648,[not completed],both,55-64,non_binary,NaN,VIC,3011,0500-999,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,Partial completion
4649,4650,[not completed],both,55-64,female,NaN,QLD,4305,0001-499,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,Partial completion